.container {
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: white;
}

.main_text {
  width: 100%;
}

.closebtn {
  cursor: pointer;
}